<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <header class="header">
      <nav class="nav">
        <h4 id="title"><a href="/">Customer Relationship Application</a></h4>
        <h5 id="link1"><a href="/">Home</a></h5>
        <h5 id="link2"><a href="/contacts">View Contacts</a></h5>
        <h5 id="link3"><a href="/contacts/new">Add a Contact</a></h5>
        </div>
      </nav>
    </header>

    <div class="container">
       <div class="left-col">
         <h3>Left Column</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque doloribus, est at cupiditate laborum numquam beatae voluptates ut debitis molestiae vel odio suscipit vitae voluptatem, rerum maxime. Quas, beatae sit.</p>
       </div>
       <div class="cen-col"><%= yield %></div>
       <div class="right-col">
         <h3>Right Column</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium aspernatur ducimus quas facere pariatur dolore neque saepe, aperiam nihil tempore quasi autem debitis asperiores modi quis ratione obcaecati. Ex, maxime?</p>
       </div>
    </div>

    <footer class="footer">
      <p id="footer_text">Customer Relationship Application</p>
    </footer>

  </body>
</html>